###
### EDIT AND RENAME THIS FILE TO secrets.yml
###

# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 37dd587a5b1b2a71323354f216a484f192af7c0c4fd2906cc4ef98a38612b42be51c046e627031e56a5b413b2313210535dc78563a8bf6ca4c8189c9ef1056b5
  mail_smtp_password: 'emailpassword'
  mail_smtp_source: 'user@email.provider.com'
  # Who will get error mails?
  mail_error_rec:
    --
    'gizmore@gizmore.org'
    'gizmore@wechall.net'

test:
  secret_key_base: db224ebdc65af571f7cc3a668ceef8b4c24f6dc0707c0d19883c5f4c9aea716b19846203bc64b0c73ad88ff3f56a13a3dcdb612d36cbb019dc35a40e662fc6c2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
